In [1]:
import numpy as np

In [2]:
X = np.random.normal(loc=1,scale=10, size=(1000,50))

In [3]:
print(X)

[[ -5.36931159  -8.48655822  -2.392202   ... -16.46605582  -3.84011158
    6.08808872]
 [ -6.92677739  11.36324229  -1.07742526 ...   8.8100473    0.37739561
   32.23249527]
 [ 12.93965921  13.36389219  -2.42672386 ... -11.61294173  -6.91445561
   -1.48260461]
 ...
 [ -3.02457854  11.55310544   2.85602648 ...   3.45873085   8.43641043
  -18.12266218]
 [-23.57028822   6.71467484  -5.17563085 ...  20.52171466   5.4862231
   10.57799108]
 [-10.21544981  -2.27496992 -12.04125389 ...  -0.23210714  10.71438135
    7.84274858]]

In [4]:
A = np.eye(3)
B = np.eye(3)

In [5]:
AB = np.hstack((A,B))

In [6]:
AB

array([[1., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 1.]])

In [7]:
import pandas as pd

In [8]:
titanic = pd.read_csv('./_ea07570741a3ec966e284208f588e50e_titanic.csv')

In [9]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
male_count = titanic[titanic.Sex == 'male'].Sex.count()
female_count = titanic[titanic.Sex == 'female'].Sex.count()
male_count, female_count

(577, 314)

In [11]:
count = len(titanic)
survived_count = len(titanic[titanic.Survived == 1])
per = survived_count / count * 100
per

38.38383838383838

In [54]:
Pclass_count = len(titanic[titanic.Pclass == 1])
per = Pclass_count / count * 100
per

24.242424242424242

In [63]:
titanic.Age.mean(skipna=True), titanic.Age.median()

(29.69911764705882, 28.0)

In [58]:
round(titanic['SibSp'].corr(titanic['Parch']),2)

0.41

In [88]:
def get_first_name(name):
    first_name = ""
    p=False
    x=False
    g = '(' if '(' in name else '.'
    for c in name:
        if p:
            if (c >= 'A' and c <= 'Z' ) | (c >= 'a' and c <= 'z'):
                x = True
            else:
                if x:
                    break
                x = False
        first_name += c if x else ''     
        if c == g:
            p=True
            
    print(name, first_name)
    return first_name

In [89]:
first_names = []
for name in titanic.Name:
    first_names.append(get_first_name(name))

Braund, Mr. Owen Harris Owen
Cumings, Mrs. John Bradley (Florence Briggs Thayer) Florence
Heikkinen, Miss. Laina Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel) Lily
Allen, Mr. William Henry William
Moran, Mr. James James
McCarthy, Mr. Timothy J Timothy
Palsson, Master. Gosta Leonard Gosta
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg) Elisabeth
Nasser, Mrs. Nicholas (Adele Achem) Adele
Sandstrom, Miss. Marguerite Rut Marguerite
Bonnell, Miss. Elizabeth Elizabeth
Saundercock, Mr. William Henry William
Andersson, Mr. Anders Johan Anders
Vestrom, Miss. Hulda Amanda Adolfina Hulda
Hewlett, Mrs. (Mary D Kingcome)  Mary
Rice, Master. Eugene Eugene
Williams, Mr. Charles Eugene Charles
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele) Emelia
Masselmani, Mrs. Fatima Fatima
Fynney, Mr. Joseph J Joseph
Beesley, Mr. Lawrence Lawrence
McGowan, Miss. Anna "Annie" Anna
Sloper, Mr. William Thompson William
Palsson, Miss. Torborg Danira Torborg
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Selma
Emir, Mr. Farred Chehab Farred
Fortune, Mr. Charles Alexander Charles
O'Dwyer, Miss. Ellen "Nellie" Ellen
Todoroff, Mr. Lalio Lalio
Uruchurtu, Don. Manuel E Manuel
Spencer, Mrs. William Augustus (Marie Eugenie) Marie
Glynn, Miss. Mary Agatha Mary
Wheadon, Mr. Edward H Edward
Meyer, Mr. Edgar Joseph Edgar
Holverson, Mr. Alexander Oskar Alexander
Mamee, Mr. Hanna Hanna
Cann, Mr. Ernest Charles Ernest
Vander Planke, Miss. Augusta Maria Augusta
Nicola-Yarred, Miss. Jamila Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson) Johanna
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott) Dorothy
Kraeff, Mr. Theodor Theodor
Laroche, Miss. Simonne Marie Anne Andree Simonne
Devaney, Miss. Margaret Delia Margaret
Rogers, Mr. William John William
Lennon, Mr. Denis Denis
O'Driscoll, Miss. Bridget Bridget
Samaan, Mr. Youssef Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi) Josefine
Panula, Master. Juha Niilo Juha
Nosworthy, Mr. Richard Cater Richard
Harper, Mrs. Henry Sleeper (Myna Haxtun) Myna
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson) Elizabeth
Ostby, Mr. Engelhart Cornelius Engelhart
Woolner, Mr. Hugh Hugh
Rugg, Miss. Emily Emily
Novel, Mr. Mansouer Mansouer
West, Miss. Constance Mirium Constance
Goodwin, Master. William Frederick William
Sirayanian, Mr. Orsen Orsen
Icard, Miss. Amelie Amelie
Harris, Mr. Henry Birkhardt Henry
Skoog, Master. Harald Harald
Stewart, Mr. Albert A Albert
Moubarek, Master. Gerios Gerios
Nye, Mrs. (Elizabeth Ramell) Elizabeth
Crease, Mr. Ernest James Ernest
Andersson, Miss. Erna Alexandra Erna
Kink, Mr. Vincenz Vincenz
Jenkin, Mr. Stephen Curnow Stephen
Goodwin, Miss. Lillian Amy Lillian
Hood, Mr. Ambrose Jr Ambrose
Chronopoulos, Mr. Apostolos Apostolos
Bing, Mr. Lee Lee
Moen, Mr. Sigurd Hansen Sigurd
Staneff, Mr. Ivan Ivan
Moutal, Mr. Rahamin Haim Rahamin
Caldwell, Master. Alden Gates Alden
Dowdell, Miss. Elizabeth Elizabeth
Waelens, Mr. Achille Achille
Sheerlinck, Mr. Jan Baptist Jan
McDermott, Miss. Brigdet Delia Brigdet
Carrau, Mr. Francisco M Francisco
Ilett, Miss. Bertha Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson) Maria
Ford, Mr. William Neal William
Slocovski, Mr. Selman Francis Selman
Fortune, Miss. Mabel Helen Mabel
Celotti, Mr. Francesco Francesco
Christmann, Mr. Emil Emil
Andreasson, Mr. Paul Edvin Paul
Chaffee, Mr. Herbert Fuller Herbert
Dean, Mr. Bertram Frank Bertram
Coxon, Mr. Daniel Daniel
Shorney, Mr. Charles Joseph Charles
Goldschmidt, Mr. George B George
Greenfield, Mr. William Bertram William
Doling, Mrs. John T (Ada Julia Bone) Ada
Kantor, Mr. Sinai Sinai
Petranec, Miss. Matilda Matilda
Petroff, Mr. Pastcho ("Pentcho") Pentcho
White, Mr. Richard Frasar Richard
Johansson, Mr. Gustaf Joel Gustaf
Gustafsson, Mr. Anders Vilhelm Anders
Mionoff, Mr. Stoytcho Stoytcho
Salkjelsvik, Miss. Anna Kristine Anna
Moss, Mr. Albert Johan Albert
Rekic, Mr. Tido Tido
Moran, Miss. Bertha Bertha
Porter, Mr. Walter Chamberlain Walter
Zabour, Miss. Hileni Hileni
Barton, Mr. David John David
Jussila, Miss. Katriina Katriina
Attalah, Miss. Malake Malake
Pekoniemi, Mr. Edvard Edvard
Connors, Mr. Patrick Patrick
Turpin, Mr. William John Robert William
Baxter, Mr. Quigg Edmond Quigg
Andersson, Miss. Ellis Anna Maria Ellis
Hickman, Mr. Stanley George Stanley
Moore, Mr. Leonard Charles Leonard
Nasser, Mr. Nicholas Nicholas
Webber, Miss. Susan Susan
White, Mr. Percival Wayland Percival
Nicola-Yarred, Master. Elias Elias
McMahon, Mr. Martin Martin
Madsen, Mr. Fridtjof Arne Fridtjof
Peter, Miss. Anna Anna
Ekstrom, Mr. Johan Johan
Drazenoic, Mr. Jozef Jozef
Coelho, Mr. Domingos Fernandeo Domingos
Robins, Mrs. Alexander A (Grace Charity Laury) Grace
Weisz, Mrs. Leopold (Mathilde Francoise Pede) Mathilde
Sobey, Mr. Samuel James Hayden Samuel
Richard, Mr. Emile Emile
Newsom, Miss. Helen Monypeny Helen
Futrelle, Mr. Jacques Heath Jacques
Osen, Mr. Olaf Elon Olaf
Giglio, Mr. Victor Victor
Boulos, Mrs. Joseph (Sultana) Sultana
Nysten, Miss. Anna Sofia Anna
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck) Elin
Burke, Mr. Jeremiah Jeremiah
Andrew, Mr. Edgardo Samuel Edgardo
Nicholls, Mr. Joseph Charles Joseph
Andersson, Mr. August Edvard ("Wennerstrom") Wennerstrom
Ford, Miss. Robina Maggie "Ruby" Robina
Navratil, Mr. Michel ("Louis M Hoffman") Louis
Byles, Rev. Thomas Roussel Davids Thomas
Bateman, Rev. Robert James Robert
Pears, Mrs. Thomas (Edith Wearne) Edith
Meo, Mr. Alfonzo Alfonzo
van Billiard, Mr. Austin Blyler Austin
Olsen, Mr. Ole Martin Ole
Williams, Mr. Charles Duane Charles
Gilnagh, Miss. Katherine "Katie" Katherine
Corn, Mr. Harry Harry
Smiljanic, Mr. Mile Mile
Sage, Master. Thomas Henry Thomas
Cribb, Mr. John Hatfield John
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne) Elizabeth
Bengtsson, Mr. John Viktor John
Calic, Mr. Jovo Jovo
Panula, Master. Eino Viljami Eino
Goldsmith, Master. Frank John William "Frankie" Frank
Chibnall, Mrs. (Edith Martha Bowerman) Edith
Skoog, Mrs. William (Anna Bernhardina Karlsson) Anna
Baumann, Mr. John D John
Ling, Mr. Lee Lee
Van der hoef, Mr. Wyckoff Wyckoff
Rice, Master. Arthur Arthur
Johnson, Miss. Eleanor Ileen Eleanor
Sivola, Mr. Antti Wilhelm Antti
Smith, Mr. James Clinch James
Klasen, Mr. Klas Albin Klas
Lefebre, Master. Henry Forbes Henry
Isham, Miss. Ann Elizabeth Ann
Hale, Mr. Reginald Reginald
Leonard, Mr. Lionel Lionel
Sage, Miss. Constance Gladys Constance
Pernot, Mr. Rene Rene
Asplund, Master. Clarence Gustaf Hugo Clarence
Becker, Master. Richard F Richard
Kink-Heilmann, Miss. Luise Gretchen Luise
Rood, Mr. Hugh Roscoe Hugh
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey) Johanna
Romaine, Mr. Charles Hallace ("Mr C Rolmane") Mr
Bourke, Mr. John John
Turcin, Mr. Stjepan Stjepan
Pinsky, Mrs. (Rosa) Rosa
Carbines, Mr. William William
Andersen-Jensen, Miss. Carla Christine Nielsine Carla
Navratil, Master. Michel M Michel
Brown, Mrs. James Joseph (Margaret Tobin) Margaret
Lurette, Miss. Elise Elise
Mernagh, Mr. Robert Robert
Olsen, Mr. Karl Siegwart Andreas Karl
Madigan, Miss. Margaret "Maggie" Margaret
Yrois, Miss. Henriette ("Mrs Harbeck") Mrs
Vande Walle, Mr. Nestor Cyriel Nestor
Sage, Mr. Frederick Frederick
Johanson, Mr. Jakob Alfred Jakob
Youseff, Mr. Gerious Gerious
Cohen, Mr. Gurshon "Gus" Gurshon
Strom, Miss. Telma Matilda Telma
Backstrom, Mr. Karl Alfred Karl
Albimona, Mr. Nassef Cassem Nassef
Carr, Miss. Helen "Ellen" Helen
Blank, Mr. Henry Henry
Ali, Mr. Ahmed Ahmed
Cameron, Miss. Clear Annie Clear
Perkin, Mr. John Henry John
Givard, Mr. Hans Kristensen Hans
Kiernan, Mr. Philip Philip
Newell, Miss. Madeleine Madeleine
Honkanen, Miss. Eliina Eliina
Jacobsohn, Mr. Sidney Samuel Sidney
Bazzani, Miss. Albina Albina
Harris, Mr. Walter Walter
Sunderland, Mr. Victor Francis Victor
Bracken, Mr. James H James
Green, Mr. George Henry George
Nenkoff, Mr. Christo Christo
Hoyt, Mr. Frederick Maxfield Frederick
Berglund, Mr. Karl Ivar Sven Karl
Mellors, Mr. William John William
Lovell, Mr. John Hall ("Henry") Henry
Fahlstrom, Mr. Arne Jonas Arne
Lefebre, Miss. Mathilde Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach) Irene
Larsson, Mr. Bengt Edvin Bengt
Sjostedt, Mr. Ernst Adolf Ernst
Asplund, Miss. Lillian Gertrud Lillian
Leyson, Mr. Robert William Norman Robert
Harknett, Miss. Alice Phoebe Alice
Hold, Mr. Stephen Stephen
Collyer, Miss. Marjorie "Lottie" Marjorie
Pengelly, Mr. Frederick William Frederick
Hunt, Mr. George Henry George
Zabour, Miss. Thamine Thamine
Murphy, Miss. Katherine "Kate" Katherine
Coleridge, Mr. Reginald Charles Reginald
Maenpaa, Mr. Matti Alexanteri Matti
Attalah, Mr. Sleiman Sleiman
Minahan, Dr. William Edward William
Lindahl, Miss. Agda Thorilda Viktoria Agda
Hamalainen, Mrs. William (Anna) Anna
Beckwith, Mr. Richard Leonard Richard
Carter, Rev. Ernest Courtenay Ernest
Reed, Mr. James George James
Strom, Mrs. Wilhelm (Elna Matilda Persson) Elna
Stead, Mr. William Thomas William
Lobb, Mr. William Arthur William
Rosblom, Mrs. Viktor (Helena Wilhelmina) Helena
Touma, Mrs. Darwis (Hanne Youssef Razi) Hanne
Thorne, Mrs. Gertrude Maybelle Gertrude
Cherry, Miss. Gladys Gladys
Ward, Miss. Anna Anna
Parrish, Mrs. (Lutie Davis) Lutie
Smith, Mr. Thomas Thomas
Asplund, Master. Edvin Rojj Felix Edvin
Taussig, Mr. Emil Emil
Harrison, Mr. William William
Henry, Miss. Delia Delia
Reeves, Mr. David David
Panula, Mr. Ernesti Arvid Ernesti
Persson, Mr. Ernst Ulrik Ernst
Graham, Mrs. William Thompson (Edith Junkins) Edith
Bissette, Miss. Amelia Amelia
Cairns, Mr. Alexander Alexander
Tornquist, Mr. William Henry William
Mellinger, Mrs. (Elizabeth Anne Maidment) Elizabeth
Natsch, Mr. Charles H Charles
Healy, Miss. Hanora "Nora" Hanora
Andrews, Miss. Kornelia Theodosia Kornelia
Lindblom, Miss. Augusta Charlotta Augusta
Parkes, Mr. Francis "Frank" Francis
Rice, Master. Eric Eric
Abbott, Mrs. Stanton (Rosa Hunt) Rosa
Duane, Mr. Frank Frank
Olsson, Mr. Nils Johan Goransson Nils
de Pelsmaeker, Mr. Alfons Alfons
Dorking, Mr. Edward Arthur Edward
Smith, Mr. Richard William Richard
Stankovic, Mr. Ivan Ivan
de Mulder, Mr. Theodore Theodore
Naidenoff, Mr. Penko Penko
Hosono, Mr. Masabumi Masabumi
Connolly, Miss. Kate Kate
Barber, Miss. Ellen "Nellie" Ellen
Bishop, Mrs. Dickinson H (Helen Walton) Helen
Levy, Mr. Rene Jacques Rene
Haas, Miss. Aloisia Aloisia
Mineff, Mr. Ivan Ivan
Lewy, Mr. Ervin G Ervin
Hanna, Mr. Mansour Mansour
Allison, Miss. Helen Loraine Helen
Saalfeld, Mr. Adolphe Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput) Helene
Kelly, Miss. Anna Katherine "Annie Kate" Anna
McCoy, Mr. Bernard Bernard
Johnson, Mr. William Cahoone Jr William
Keane, Miss. Nora A Nora
Williams, Mr. Howard Hugh "Harry" Howard
Allison, Master. Hudson Trevor Hudson
Fleming, Miss. Margaret Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) Maria
Abelson, Mr. Samuel Samuel
Francatelli, Miss. Laura Mabel Laura
Hays, Miss. Margaret Bechstein Margaret
Ryerson, Miss. Emily Borie Emily
Lahtinen, Mrs. William (Anna Sylfven) Anna
Hendekovic, Mr. Ignjac Ignjac
Hart, Mr. Benjamin Benjamin
Nilsson, Miss. Helmina Josefina Helmina
Kantor, Mrs. Sinai (Miriam Sternin) Miriam
Moraweck, Dr. Ernest Ernest
Wick, Miss. Mary Natalie Mary
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone) Margaretta
Dennis, Mr. Samuel Samuel
Danoff, Mr. Yoto Yoto
Slayter, Miss. Hilda Mary Hilda
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh) Sylvia
Sage, Mr. George John Jr George
Young, Miss. Marie Grice Marie
Nysveen, Mr. Johan Hansen Johan
Ball, Mrs. (Ada E Hall) Ada
Goldsmith, Mrs. Frank John (Emily Alice Brown) Emily
Hippach, Miss. Jean Gertrude Jean
McCoy, Miss. Agnes Agnes
Partner, Mr. Austen Austen
Graham, Mr. George Edward George
Vander Planke, Mr. Leo Edmondus Leo
Frauenthal, Mrs. Henry William (Clara Heinsheimer) Clara
Denkoff, Mr. Mitto Mitto
Pears, Mr. Thomas Clinton Thomas
Burns, Miss. Elizabeth Margaret Elizabeth
Dahl, Mr. Karl Edwart Karl
Blackwell, Mr. Stephen Weart Stephen
Navratil, Master. Edmond Roger Edmond
Fortune, Miss. Alice Elizabeth Alice
Collander, Mr. Erik Gustaf Erik
Sedgwick, Mr. Charles Frederick Waddington Charles
Fox, Mr. Stanley Hubert Stanley
Brown, Miss. Amelia "Mildred" Amelia
Smith, Miss. Marion Elsie Marion
Davison, Mrs. Thomas Henry (Mary E Finck) Mary
Coutts, Master. William Loch "William" William
Dimic, Mr. Jovan Jovan
Odahl, Mr. Nils Martin Nils
Williams-Lambert, Mr. Fletcher Fellows Fletcher
Elias, Mr. Tannous Tannous
Arnold-Franchi, Mr. Josef Josef
Yousif, Mr. Wazli Wazli
Vanden Steen, Mr. Leo Peter Leo
Bowerman, Miss. Elsie Edith Elsie
Funk, Miss. Annie Clemmer Annie
McGovern, Miss. Mary Mary
Mockler, Miss. Helen Mary "Ellie" Helen
Skoog, Mr. Wilhelm Wilhelm
del Carlo, Mr. Sebastiano Sebastiano
Barbara, Mrs. (Catherine David) Catherine
Asim, Mr. Adola Adola
O'Brien, Mr. Thomas Thomas
Adahl, Mr. Mauritz Nils Martin Mauritz
Warren, Mrs. Frank Manley (Anna Sophia Atkinson) Anna
Moussa, Mrs. (Mantoura Boulos) Mantoura
Jermyn, Miss. Annie Annie
Aubart, Mme. Leontine Pauline Leontine
Harder, Mr. George Achilles George
Wiklund, Mr. Jakob Alfred Jakob
Beavan, Mr. William Thomas William
Ringhini, Mr. Sante Sante
Palsson, Miss. Stina Viola Stina
Meyer, Mrs. Edgar Joseph (Leila Saks) Leila
Landergren, Miss. Aurora Adelia Aurora
Widener, Mr. Harry Elkins Harry
Betros, Mr. Tannous Tannous
Gustafsson, Mr. Karl Gideon Karl
Bidois, Miss. Rosalie Rosalie
Nakid, Miss. Maria ("Mary") Mary
Tikkanen, Mr. Juho Juho
Holverson, Mrs. Alexander Oskar (Mary Aline Towner) Mary
Plotcharsky, Mr. Vasil Vasil
Davies, Mr. Charles Henry Charles
Goodwin, Master. Sidney Leonard Sidney
Buss, Miss. Kate Kate
Sadlier, Mr. Matthew Matthew
Lehmann, Miss. Bertha Bertha
Carter, Mr. William Ernest William
Jansson, Mr. Carl Olof Carl
Gustafsson, Mr. Johan Birger Johan
Newell, Miss. Marjorie Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson) Agnes
Johansson, Mr. Erik Erik
Olsson, Miss. Elina Elina
McKane, Mr. Peter David Peter
Pain, Dr. Alfred Alfred
Trout, Mrs. William H (Jessie L) Jessie
Niskanen, Mr. Juha Juha
Adams, Mr. John John
Jussila, Miss. Mari Aina Mari
Hakkarainen, Mr. Pekka Pietari Pekka
Oreskovic, Miss. Marija Marija
Gale, Mr. Shadrach Shadrach
Widegren, Mr. Carl/Charles Peter Carl
Richards, Master. William Rowe William
Birkeland, Mr. Hans Martin Monsen Hans
Lefebre, Miss. Ida Ida
Sdycoff, Mr. Todor Todor
Hart, Mr. Henry Henry
Minahan, Miss. Daisy E Daisy
Cunningham, Mr. Alfred Fleming Alfred
Sundman, Mr. Johan Julian Johan
Meek, Mrs. Thomas (Annie Louise Rowley) Annie
Drew, Mrs. James Vivian (Lulu Thorne Christian) Lulu
Silven, Miss. Lyyli Karoliina Lyyli
Matthews, Mr. William John William
Van Impe, Miss. Catharina Catharina
Gheorgheff, Mr. Stanio Stanio
Charters, Mr. David David
Zimmerman, Mr. Leo Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Anna
Rosblom, Mr. Viktor Richard Viktor
Wiseman, Mr. Phillippe Phillippe
Clarke, Mrs. Charles V (Ada Maria Winfield) Ada
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall") Mrs
Flynn, Mr. James James
Pickard, Mr. Berk (Berk Trembisky) Berk
Bjornstrom-Steffansson, Mr. Mauritz Hakan Mauritz
Thorneycroft, Mrs. Percival (Florence Kate White) Florence
Louch, Mrs. Charles Alexander (Alice Adelaide Slow) Alice
Kallio, Mr. Nikolai Erland Nikolai
Silvey, Mr. William Baird William
Carter, Miss. Lucile Polk Lucile
Ford, Miss. Doolina Margaret "Daisy" Doolina
Richards, Mrs. Sidney (Emily Hocking) Emily
Fortune, Mr. Mark Mark
Kvillner, Mr. Johan Henrik Johannesson Johan
Hart, Mrs. Benjamin (Esther Ada Bloomfield) Esther
Hampe, Mr. Leon Leon
Petterson, Mr. Johan Emil Johan
Reynaldo, Ms. Encarnacion Encarnacion
Johannesen-Bratthammer, Mr. Bernt Bernt
Dodge, Master. Washington Washington
Mellinger, Miss. Madeleine Violet Madeleine
Seward, Mr. Frederic Kimber Frederic
Baclini, Miss. Marie Catherine Marie
Peuchen, Major. Arthur Godfrey Arthur
West, Mr. Edwy Arthur Edwy
Hagland, Mr. Ingvald Olai Olsen Ingvald
Foreman, Mr. Benjamin Laventall Benjamin
Goldenberg, Mr. Samuel L Samuel
Peduzzi, Mr. Joseph Joseph
Jalsevac, Mr. Ivan Ivan
Millet, Mr. Francis Davis Francis
Kenyon, Mrs. Frederick R (Marion) Marion
Toomey, Miss. Ellen Ellen
O'Connor, Mr. Maurice Maurice
Anderson, Mr. Harry Harry
Morley, Mr. William William
Gee, Mr. Arthur H Arthur
Milling, Mr. Jacob Christian Jacob
Maisner, Mr. Simon Simon
Goncalves, Mr. Manuel Estanslas Manuel
Campbell, Mr. William William
Smart, Mr. John Montgomery John
Scanlan, Mr. James James
Baclini, Miss. Helene Barbara Helene
Keefe, Mr. Arthur Arthur
Cacic, Mr. Luka Luka
West, Mrs. Edwy Arthur (Ada Mary Worth) Ada
Jerwan, Mrs. Amin S (Marie Marthe Thuillard) Marie
Strandberg, Miss. Ida Sofia Ida
Clifford, Mr. George Quincy George
Renouf, Mr. Peter Henry Peter
Braund, Mr. Lewis Richard Lewis
Karlsson, Mr. Nils August Nils
Hirvonen, Miss. Hildur E Hildur
Goodwin, Master. Harold Victor Harold
Frost, Mr. Anthony Wood "Archie" Anthony
Rouse, Mr. Richard Henry Richard
Turkula, Mrs. (Hedwig) Hedwig
Bishop, Mr. Dickinson H Dickinson
Lefebre, Miss. Jeannie Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby) Jane
Kent, Mr. Edward Austin Edward
Somerton, Mr. Francis William Francis
Coutts, Master. Eden Leslie "Neville" Eden
Hagland, Mr. Konrad Mathias Reiersen Konrad
Windelov, Mr. Einar Einar
Molson, Mr. Harry Markland Harry
Artagaveytia, Mr. Ramon Ramon
Stanley, Mr. Edward Roland Edward
Yousseff, Mr. Gerious Gerious
Eustis, Miss. Elizabeth Mussey Elizabeth
Shellard, Mr. Frederick William Frederick
Allison, Mrs. Hudson J C (Bessie Waldo Daniels) Bessie
Svensson, Mr. Olof Olof
Calic, Mr. Petar Petar
Canavan, Miss. Mary Mary
O'Sullivan, Miss. Bridget Mary Bridget
Laitinen, Miss. Kristina Sofia Kristina
Maioni, Miss. Roberta Roberta
Penasco y Castellana, Mr. Victor de Satode Victor
Quick, Mrs. Frederick Charles (Jane Richards) Jane
Bradley, Mr. George ("George Arthur Brayton") George
Olsen, Mr. Henry Margido Henry
Lang, Mr. Fang Fang
Daly, Mr. Eugene Patrick Eugene
Webber, Mr. James James
McGough, Mr. James Robert James
Rothschild, Mrs. Martin (Elizabeth L. Barrett) Elizabeth
Coleff, Mr. Satio Satio
Walker, Mr. William Anderson William
Lemore, Mrs. (Amelia Milley) Amelia
Ryan, Mr. Patrick Patrick
Angle, Mrs. William A (Florence "Mary" Agnes Hughes) Florence
Pavlovic, Mr. Stefo Stefo
Perreault, Miss. Anne Anne
Vovk, Mr. Janko Janko
Lahoud, Mr. Sarkis Sarkis
Hippach, Mrs. Louis Albert (Ida Sophia Fischer) Ida
Kassem, Mr. Fared Fared
Farrell, Mr. James James
Ridsdale, Miss. Lucy Lucy
Farthing, Mr. John John
Salonen, Mr. Johan Werner Johan
Hocking, Mr. Richard George Richard
Quick, Miss. Phyllis May Phyllis
Toufik, Mr. Nakli Nakli
Elias, Mr. Joseph Jr Joseph
Peter, Mrs. Catherine (Catherine Rizk) Catherine
Cacic, Miss. Marija Marija
Hart, Miss. Eva Miriam Eva
Butt, Major. Archibald Willingham Archibald
LeRoy, Miss. Bertha Bertha
Risien, Mr. Samuel Beard Samuel
Frolicher, Miss. Hedwig Margaritha Hedwig
Crosby, Miss. Harriet R Harriet
Andersson, Miss. Ingeborg Constanzia Ingeborg
Andersson, Miss. Sigrid Elisabeth Sigrid
Beane, Mr. Edward Edward
Douglas, Mr. Walter Donald Walter
Nicholson, Mr. Arthur Ernest Arthur
Beane, Mrs. Edward (Ethel Clarke) Ethel
Padro y Manent, Mr. Julian Julian
Goldsmith, Mr. Frank John Frank
Davies, Master. John Morgan Jr John
Thayer, Mr. John Borland Jr John
Sharp, Mr. Percival James R Percival
O'Brien, Mr. Timothy Timothy
Leeni, Mr. Fahim ("Philip Zenni") Philip
Ohman, Miss. Velin Velin
Wright, Mr. George George
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") Lucille
Robbins, Mr. Victor Victor
Taussig, Mrs. Emil (Tillie Mandelbaum) Tillie
de Messemaeker, Mrs. Guillaume Joseph (Emma) Emma
Morrow, Mr. Thomas Rowan Thomas
Sivic, Mr. Husein Husein
Norman, Mr. Robert Douglas Robert
Simmons, Mr. John John
Meanwell, Miss. (Marion Ogden) Marion
Davies, Mr. Alfred J Alfred
Stoytcheff, Mr. Ilia Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund) Alma
Doharr, Mr. Tannous Tannous
Jonsson, Mr. Carl Carl
Harris, Mr. George George
Appleton, Mrs. Edward Dale (Charlotte Lamson) Charlotte

In [90]:
titanic['first_name'] = first_names

In [91]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,first_name
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Owen
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Florence
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Lily
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Juozas
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Margaret
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Catherine
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Karl
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Patrick

In [92]:
titanic[titanic.Sex == 'female'].groupby('first_name', as_index=False)\
    .agg({'Sex': 'count'}).sort_values("Sex")

    first_name  Sex
88       Irene    1
105   Kornelia    1
106   Kristina    1
107      Laina    1
108     Latifa    1
..         ...  ...
6        Alice    6
129   Margaret   10
49   Elizabeth   11
13        Anna   15
142       Mary   15

[177 rows x 2 columns]

In [94]:
titanic[titanic.first_name == 'Anna']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,first_name
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Anna
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S,Anna
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C,Anna
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S,Anna
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S,Anna
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5000,NaN,S,Anna
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,Anna
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q,Anna
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S,Anna
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,0,110813,75.2500,D37,C,Anna
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S,Anna
677,678,1,3,"Turja, Miss. Anna Sofia",female,18.0,0,0,4138,9.8417,NaN,S,Anna
747,748,1,2,"Sinkkonen, Miss. Anna",female,30.0,0,0,250648,13.0000,NaN,S,Anna
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S,Anna
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Anna

In [95]:
text_file = open("./data.txt", "w")
text_file.write('Mary')
text_file.close()